<div class="bjui-pageContent">
    <div class="list-group">
        <a href="#" class="list-group-item active" style="height:40px;background-color:#ff6666">
            <h5 class="col-md-6 list-group-item-heading">
                历史背景
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right">
                评分
            </h5>
        </a>
        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                企业性质
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value1<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value1%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                经营年限
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value2<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value2%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                与南昌县合作情况
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value3<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value3%>
            </h5>
        </a>        
    </div>



    <div class="list-group">
        <a href="#" class="list-group-item active" style="height:40px;background-color:#ff6666">
            <h5 class="col-md-6 list-group-item-heading">
                组织管理
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right">
                评分
            </h5>
        </a>
        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                股东结构与股权背景
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value4<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value4%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                关联方关系
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value5<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value5%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                安全生产
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value6<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value6%>
            </h5>
        </a>
        
    </div>




    <div class="list-group">
        <a href="#" class="list-group-item active" style="height:40px;background-color:#ff6666">
            <h5 class="col-md-6 list-group-item-heading">
                企业竞争力
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right">
                评分
            </h5>
        </a>
        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                自由项目比例
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value7<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value7%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                客户多样性
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value8<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value8%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                交易对象
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value9<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value9%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                本地项目比例
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value10<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value10%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                在南昌县业务评价
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value11<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value11%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                银行授信
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value12<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value12%>
            </h5>
        </a>
        
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active" style="height:40px;background-color:#ff6666">
            <h5 class="col-md-6 list-group-item-heading">
                信用状况
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right">
                评分
            </h5>
        </a>
        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                企业合规经营
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value13<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value13%>
            </h5>
        </a>

        <a href="#" class="list-group-item" style="height:40px;">
            <h5 class="col-md-6 list-group-item-heading">
                法人信用状况
            </h5>
            <h5 class="col-md-2 list-group-item-heading pull-right" style="font-weight:bold;color:<%if(data.c_value14<60){%>red<%}else{%>green<%}%>">
                <%= data.c_value14%>
            </h5>
        </a>
        
    </div>
</div>

